<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.core.pausis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.cs.pausis.SplashScreen"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        
        <activity android:name="com.cs.pausis.MainActivity"
            	  android:configChanges="keyboardHidden|orientation"
				  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
		</activity>
		
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name="com.cs.pausis.XYChartBuilder" />
		
		<activity android:name="com.cs.pausis.PrivacyInfo"
            	  android:configChanges="orientation"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="@string/privacytitle">
		</activity>
		
		<activity android:name="com.cs.pausis.Summary"
            	  android:configChanges="orientation"
				  android:label="@string/summary">
		</activity>
		
		<activity android:name="com.cs.pausis.GeneralAdvice"
            	  android:configChanges="orientation">
		</activity>
		
		<activity android:name="com.cs.pausis.MainMenu"
            	  android:configChanges="orientation">
		</activity>
		
		<activity android:name="com.cs.pausis.ResultVisualizer"
            	  android:configChanges="orientation">
		</activity>
		
		<activity android:name="com.cs.pausis.AboutUs"
            	  android:configChanges="orientation"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="@string/aboutus">
		</activity>
		
		<activity android:name="com.cs.pausis.InformationPage"
            	  android:configChanges="orientation"
				  android:label="@string/info">
		</activity>
		
		<activity android:name="com.cs.pausis.WebPage"
            	  android:configChanges="orientation"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="@string/info">
		</activity>
		
		<activity android:name="com.cs.pausis.ChooseYear"
            	  android:configChanges="orientation"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="@string/choosebirthyear">
		</activity>
		
		<activity android:name="com.cs.pausis.ChooseMonth"
            	  android:configChanges="orientation"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="@string/choosebirthmonth">
		</activity>
		
		<activity android:name="com.cs.pausis.ChartOptionsMenu"
            	  android:configChanges="orientation"
            	  android:theme="@android:style/Theme.Dialog"
				  android:label="@string/chartmenu">
		</activity>
		
		<activity android:name="com.cs.pausis.OverAllAdvice"
            	  android:configChanges="orientation">
		</activity>
		
		<activity android:name="com.cs.pausis.History"
            	  android:configChanges="orientation">
		</activity>
    </application>

</manifest>
